*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  transition: .2s;
}

a:hover {
  transform: scale(1.1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(210, 90%, 54%);

  height: 100vh;
  padding: 1em;

  font-family: Arial;
  color: #eee;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.outer-circle {
  --outer-diameter: 300px;
  width: var(--outer-diameter);
  height: var(--outer-diameter);
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, .2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  --inner-diameter: 10%;
  transform: scale(10);
  width: var(--inner-diameter);
  height: var(--inner-diameter);
  border-radius: 50%;
  background-color: white;
}

.app::after {
  text-align: center;
  font-size: 1.5em;
}